:root {
  --primary-color: #07588a;
  --secondary-color: #e1f6f4;
  --heading-font-family: "Space Grotesk", serif;
  --default-font-family: "Inter", serif;
  --logo-font-family: "Exo 2", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

.project-description h2 {
  font-size: 48px;
}

p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 32px;
  font-weight: 600;
}

.logo-small {
  width: 40px; /* Keeps its original width */
  height: 40px; /* Keeps its original height */
  min-width: unset; /* Removes forced minimum size */
  min-height: unset; /* Removes forced minimum size */
  max-width: 100px; /* Adjust as needed */
}

nav {
  padding: 20px 0 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 24px;
}
nav a {
  text-decoration: none;
  color: black;
  transition: all 100ms ease-in-out;
  font-weight: 500;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  text-decoration: none;
}

.content-container img {
  max-width: 400px;
  border-radius: 8px;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-weight: bold;
  margin-top: 20px;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
}

.hero .btn-branding {
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 30px;
}

.btn.btn.btn-branding-outline {
  border-radius: 8px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 24px;
  padding: 14px 30px;
}

img {
  min-height: 500px;
  min-width: 500px;
  object-fit: cover;
}

.project-description {
  padding: 80px 40px;
}

.content-container .btn-branding {
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 30px;
}

.content-container h1 {
  font-size: 48px;
  line-height: 60px;
}

.content-container h2 {
  font-size: 20px;
  font-weight: bold;
}

.content-container {
  padding: 160px 20px;
}

.content {
  margin: 80px 30px;
}

@media (max-width: 990px) {
  .hero h1 {
    font-size: 60px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
    padding: 40px;
  }

  .content {
    margin: 30px;
    text-align: center;
  }

  nav a {
    font-size: 14px;
  }
}

@media (max-width: 1200px) {
  .project-description {
    padding: 20px 40px;
  }
}
